@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "dinround";
    src: url("/fonts/DINRoundPro.woff2") format("woff2"),
        url("/fonts/DINRoundPro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "dinroundbold";
    src: url("/fonts/DINRoundPro-Black.woff2") format("woff2"),
        url("/fonts/DINRoundPro-Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "dinroundmedium";
    src: url("/fonts/DINRoundPro-Medi.woff2") format("woff2"),
        url("/fonts/DINRoundPro-Medi.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "italiana";
    src: url("/fonts/Italiana-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "particiana";
    src: url("/fonts/ofont.ru_Patriciana.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.font-italiana {
    font-family: "italiana", sans-serif;
}

:root {
    --primary: #f1f1f1;
    --secondary: rgba(17, 18, 17, 0.781);
    --tertiary: rgba(21, 65, 20, 0.6);
}
/* 


/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 1px;
    scrollbar-width: 2px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 20px;
    border: 1px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary);
}
/* Firefox */
* {
    scrollbar-color: var(--secondary) var(--primary);
    scrollbar-width: thin;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "dinround", sans-serif;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#navbar {
    background: rgba(0, 0, 0, 0.329);
    backdrop-filter: blur(10px);
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    4% {
        transform: translateY(0);
    }
    8% {
        transform: translateY(50px);
    }
    12% {
        transform: translateY(50px);
    }
    16% {
        transform: translateY(100px);
    }
    20% {
        transform: translateY(100px);
    }
    24% {
        transform: translateY(150px);
    }
    28% {
        transform: translateY(150px);
    }
    32% {
        transform: translateY(200px);
    }
    36% {
        transform: translateY(200px);
    }
    40% {
        transform: translateY(250px);
    }
    44% {
        transform: translateY(250px);
    }
    48% {
        transform: translateY(300px);
    }
    52% {
        transform: translateY(300px);
    }
    56% {
        transform: translateY(350px);
    }
    60% {
        transform: translateY(350px);
    }
    64% {
        transform: translateY(400px);
    }
    68% {
        transform: translateY(400px);
    }
    72% {
        transform: translateY(450px);
    }
    76% {
        transform: translateY(450px);
    }
    80% {
        transform: translateY(500px);
    }
    84% {
        transform: translateY(500px);
    }
    88% {
        transform: translateY(550px);
    }
    92% {
        transform: translateY(550px);
    }
    96% {
        transform: translateY(600px);
    }
    100% {
        transform: translateY(0);
    }
}

.word-container {
    padding-top: 30px;
    position: relative;
    height: 50px; /* Total height for 5 words */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.word-list {
    display: flex;
    flex-direction: column;
    animation: scroll 22s infinite;
}

.word {
    height: 50px; /* Height for each word */
    line-height: 34px;
    text-align: center;
    width: 100%;
}

.transition-height {
    transition: height 0.3s ease, opacity 0.3s ease;
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-0 {
    transform: rotate(0deg);
}

.transition-transform {
    transition: transform 0.3s ease;
}

.ticker {
    position: relative;
    overflow: hidden;
}

.ticker_item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    white-space: nowrap;
    flex-shrink: 0;
    animation: ticker 40s linear infinite;
}

@keyframes ticker {
    0% {
        transform: translateZ(0);
    }
    to {
        transform: translate3d(-1000%, 0, 0);
    }
}
.phone-text-gradient {
    background: linear-gradient(to right, #f00, #00f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient {
    background: linear-gradient(90deg, #03c5ef, #8126f5, #ffa200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.tournament-bg{
    background: radial-gradient(circle, #130626 0%, #000000 24%, #290F30 82%, #22133B 97%);

}

.purple {
    background: linear-gradient(90deg, #632694);
}

.purple-gradient {
    background: linear-gradient(to right, #632694, #ca40fa);
}

.dark-purple-gradient {
    background: linear-gradient(to bottom, #010101, #1a0128,  #290636);
}


.why-text-gradient {
    background: linear-gradient(90deg, #ecaeeb, #a4caf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.text-gradient-two {
    background: linear-gradient(90deg, #0464ff, #f00a85, #ffa200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.text-gradient-fans {
    background: linear-gradient(90deg, #3884f5, #d934d7, #fe781e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.custom-radio input[type="radio"]:checked + span::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    margin: auto;
}



.gradient-tournament-background {
    background: linear-gradient(145deg, #000000, #0f010f, #1c021f, #15021f, #030339);
    /* 135deg is the angle of the gradient */
}




/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just to remove any scrollbar color */
}

/* Hide scrollbar for Firefox */
.example {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Hide scrollbar for Firefox */
.example {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.custom-scroll::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Hide scrollbar for Firefox */
.custom-scroll {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}